<h1>Registration User Form</h1>
<div class = "container">
    <form action="" (submit) = "userRegisterClick()">
        <div>
            <input class = "form-control" type="text" name="name" [(ngModel)] = "name"  id="" placeholder="name">
        </div>
        <div>
            <input class = "form-control" type="text" name="email" [(ngModel)] = "email" id="" placeholder="email">
        </div>
        <div>
            <input class = "form-control" type="text" name="login" [(ngModel)] = "login" id="" placeholder="login">
        </div>
        <div>
            <input class = "form-control" type="text" name="password" [(ngModel)] = "password" id="" placeholder="password">
        </div>
        <button class = "btn btn-success" type = "submit">REGISTER</button>
    </form>
    <button class = "btn btn-success" type = "submit" (click)="sendToAuth()" >AUTORISATION</button>
</div>
